*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{height: 6000px;}


.header-fixed{
    background-color: black;
    opacity: 0.6;
    width: 100vw;
    height: 48px;
    z-index: 100;
    position: fixed;
    overflow: auto;
}
.img-head{
    margin-left: 55px;
    margin-top: 4px;
}
.header-fixed .list li{ 
    position: relative;
    display:inline-block;
    margin-left: 30px;
}
.list{
float: right;
list-style: none;
margin-right: 150px;
margin-top: 12px;
}
.list a{ 
    text-decoration: none;
    color: #fff;
    font-size: 17px;

}
.underline{
    width: 40px; height: 3px; background: red; 
     position: absolute; 
     margin-left: 518px; margin-top: -10px;
}
.lih0:after {
   position: absolute;
   content: "";
   bottom: 0;
   left:0;
   height:3px;
   width: 43; 
   top: 22px;
   background-color: rgb(255, 0, 0);}

  .lih1:after {
    position: absolute;
    content: "";
    bottom: 0;
    left:0;
    height:3px;
    width: 0; 
    top: 22px;
    background-color: rgb(255, 0, 0);
   
 }
 .lih1:hover::after{
    width: 43px;
    height: 3px;
    transition: 0.5s;
   
 }
 .lih2:after {
    position: absolute;
    content: "";
    bottom: 0;
    left:0;
    height:3px;
    width: 0; 
    top: 22px;
    background-color: rgb(255, 0, 0);
   
 }
 .lih2:hover::after{
    width: 61px;
    height: 3px;
    transition: 0.5s;
   
 }
 .lih3:after {
    position: absolute;
    content: "";
    bottom: 0;
    left:0;
    height:3px;
    width: 0; 
    top: 22px;
    background-color: rgb(255, 0, 0);
   
 }
 .lih3:hover::after{
    width: 59px;
    height: 3px;
    transition: 0.5s;
   
 }
 .lih4:after {
    position: absolute;
    content: "";
    bottom: 0;
    left:0;
    height:3px;
    width: 0; 
    top: 22px;
    background-color: rgb(255, 0, 0);
   
 }
 .lih4:hover::after{
    width: 43px;
    height: 3px;
    transition: 0.5s;
   
 }
 .lih5:after {
    position: absolute;
    content: "";
    bottom: 0;
    left:0;
    height:3px;
    width: 0; 
    top: 22px;
    background-color: rgb(255, 0, 0);
   
 }
 .lih5:hover::after{
    width: 40px;
    height: 3px;
    transition: 0.5s;
   
 }
 .lih6:after {
    position: absolute;
    content: "";
    bottom: 0;
    left:0;
    height:3px;
    width: 0; 
    top: 22px;
    background-color: rgb(255, 0, 0);
   
 }
 .lih6:hover::after{
    width: 37px;
    height: 3px;
    transition: 0.5s;
   
 }
 .lih7:after {
    position: absolute;
    content: "";
    bottom: 0;
    left:0;
    height:3px;
    width: 0; 
    top: 22px;
    background-color: rgb(255, 0, 0);
   
 }
 .lih7:hover::after{
    width: 55px;
    height: 3px;
    transition: 0.5s;
   
 }
 .lih6{
   position: relative;
 }
 /* .nested{
   position: fixed;
   top: 54px;
   left:955px;
   width: 120px;
   height: 50px;
  padding-top:14px ;
  padding-left: 30px;
   background-color: rgb(7, 110, 170);
   font-size: 18px;
   color: #fff;
   z-index: 200;
   visibility: hidden;
 }
  
 .lih6:hover .nested{
   visibility: visible;
 } */
 
 
 /* ////////////////////////////////////end header////////////////////////// */

 .sec1 {
    width:  100%  ;
    height: 100vh ;
    

    background-image: url(../images/back.jpeg);
}

.overlay-sec1 {
   position: absolute;
   width: 100% ;
   height: 100%;
 
   background-color: rgba(0, 0, 0, 0.5) ;
}

.parents-sec1{
    position: absolute;
    width: 70%;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
   color: #fff;
}
 .h2-sec1{
   text-transform: uppercase ;
   font-size:90px;
   font-family:Arial, Helvetica, sans-serif;
 }
 .p-sec1{
    font-size: 23px;
    color: #b3b3b3;
    letter-spacing: 2px;
    padding-bottom: 15px;
 }
 .button-sec1{
    padding:13px 30px;
    font-size: 17px;
    border: 0;
    border-radius: 4px;
 }
 .bt2{
    background-color: rgb(0, 93, 151);
    color: #fff;
    margin-left: 10px;
 }
 .button-sec1:hover{
    opacity: 0.8;
    cursor: pointer;
 }
 /* ////////////////////////////////////////////end sec1 ///////////////////////////*/
 .sec2-container1{
   position: relative;
   width: 100% ;
   height:40vh ;
  
 }
 .hero2{ 
   position: absolute;
   width: 70%;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
  
 }
.h2-sec2{
   text-align: center;
   font-size: 36px;
   text-transform: capitalize;
   font-family:Arial, Helvetica, sans-serif;
}
.underline-sec2{
   width: 90px;
   height: 4px;
   background-color: rgb(255, 0, 0);
   position: absolute;
   margin-left: 402px;
   margin-top: 10px;
}
 .sec2-container2{
   width: 85%;
   height: 400px;
margin: auto;
margin-top: -20px;

 }
 .item1-sec2{
   width: 30%;
   height: 240px;
   border: 1px;
   border-style: solid;
   border-color: #9d9d9d;
   text-align: center;
   padding: 20px 20px;
   float: left;
   position: relative;
   

 }
 .i1sec2{
   padding-top: 5px;
   font-size: 40px;
   color: rgb(0, 162, 249);
   
 }
 .h2-item1{
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 10px;
  
   font-size: 25px;
 }
 .p-item1{
   letter-spacing: 2px;
   word-spacing: 5px;
   color: #363636;
   padding: 12px 0px;
   font-size: 17px;
   
   
 }
 .a-item1{
   text-decoration: none;
   color: rgba(2, 158, 193, 0.998);
   font-size: 18px;
 }
 .mid{
   margin: 0px 5%;
 }
 
 .item1-sec2:after {
   position: absolute;
   content: "";
   height: 0;
   width: 0;
   top: 0;
   left: 0;
   background-color:rgb(0, 0, 0);
   opacity: 0;
   z-index: -90;
   
 }
 .item1-sec2:hover::after {
   width: 100%;
   height: 100%;
   opacity: 0.7;
   transition: 0.8s;
   
 }
.item1-sec2:hover .h2-item1{
   color: #fff;
   transition-delay:calc();
}
.item1-sec2:hover .p-item1{color: #889b8e;}

/* ///////////////////////////////////end-sec2/////////////////////////////// */
 
.sec3-title{
   width: 100%;
   height: 250px;
   position: relative;
   background-color:#F2E8C6;
}
.hero-sec3{
   position: absolute;
   width: 50%;
   height: 200px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   
}
.h2-sec3{
   text-align: center;
   font-size: 36px;
   text-transform: capitalize;
   font-family:Arial, Helvetica, sans-serif;
   padding-top: 100px;


}
.underline-sec3{
   width: 78px;
   height: 4px;
   background-color: rgb(255, 0, 0);
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 50px;
   
}

.body-sec3{
   width: 100%;
   height: 660px;
   background-color:#F2E8C6;
}
.sec3-container1{
   width: 80%;
   height: 270px;
   margin: auto;
   
}
.item1-sec3{
   width: 30%;
   height: 270px;
   /* background-color: blue; */
   float: left;
   position: relative;
}
.img1-item1{
   text-align: center;
  padding-top:19PX ;
}
.mids3{
  margin: 0 5%;
}
.overlay1-sec3{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0);
   
}
.overlay1-sec3:hover{
   background-color: rgba(0, 0, 0, 0.7);
   transition: 0.8s;
   
}
.words-sec3{
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   padding-top: 75px;
   color: #fff;
   opacity: 0;
   
}
.h2-words-sec3{
   
 font-size: 25px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
 color:rgb(0, 149, 255);
 padding-bottom:10px ;
}
.p-sec3{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 600;
   font-size: 17px;
   padding-bottom: 15px;
   color: #fdfdfd;
}
.isec3{
   background-color: #fefefe;
  color: rgb(0, 0, 0);
   font-size: 19px;
   padding: 12px 12px;
   margin-left: 4px;
   cursor: pointer;
}
.overlay1-sec3:hover .words-sec3{
   opacity: 1;
   transition: 1.3s;
}
/* //////////////////////////////////////////////sec3/////////////////////////////////////// */

.sec4-title{
   width: 100%;
   height: 250px;
   position: relative;
  
}
.hero-sec4{
   position: absolute;
   width: 50%;
   height: 200px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   
}
.h2-sec4{
   text-align: center;
   font-size: 36px;
   text-transform: capitalize;
   font-family:Arial, Helvetica, sans-serif;
   padding-top: 100px;


}
.underline-sec4{
   width: 65px;
   height: 4px;
   background-color: rgb(255, 0, 0);
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 50px;
   
}
.item1-sec4{
   width: 30%;
   height: 210px;
   border: 1px;
   border-style: solid;
   border-color: #9d9d9d;
   padding: 20px 20px;
   float: left;
   position: relative;}

   .h2-item1s4{
      display: inline;
      font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
   padding-left: 10px;
   text-transform: capitalize;
 
   }
   .p-item1s4{
      text-transform: capitalize;
      padding-left: 55px;
      letter-spacing: 1px;
      word-spacing: -2;
   font-size: 15px;
   padding-top: 20px;
   line-height: 26px;
   font-family:Arial, Helvetica, sans-serif;
   color: #929191;
  
   }
   .body-sec4{
      width: 100%;
      height: 460px;
      }

.sec4-container1{ width: 80%;
   height: 240px;
margin: auto;
margin-top: -20px;
}
.i1sec4{
   color: rgb(62, 143, 214);
   font-size: 36px;
  
}

.item1-sec4:after {
   position: absolute;
   content: "";
   height: 0;
   width: 0;
   top: 0;
   left: 0;
   background-color:rgb(0, 0, 0);
   opacity: 0;
   z-index: -90;
   
 }
 .item1-sec4:hover::after {
   width: 100%;
   height: 100%;
   opacity: 0.7;
   transition: 0.8s;
   
 }
 .item1-sec4:hover .h2-item1s4 {
   color: #fff;
   transition-delay:calc();
}
/* ////////////////////////////////sec4//////////////////////////////// */
.sec5-body{
   background-color: #F7EED3;
   height: 650px;
   width: 100%;
}
.sec5-container{
   width: 80%;
   height: 100%;
   margin: auto;
   /* background-color: #fff; */
   overflow: auto;

}
.sec5-words{
   margin-top:120px;
   float: left;
   width: 40%;
   position: relative;
}
.h2-sec5{
   font-size: 36px;
   text-transform: capitalize;
   font-family:Arial, Helvetica, sans-serif;
}
.underline-sec5{
   position: absolute;
   width: 65px;
   height: 4px;
   background-color: rgb(255, 0, 0);
   margin-top: 8px;
}
.p1sec5{
   padding-top: 75px ;
   font-size: 17px;
   font-family:Arial, Helvetica, sans-serif;
   word-spacing: 4px;
   padding-bottom: 30px;
   color: #797575;
   line-height: 22px;
   text-transform: lowercase;
}
.p2sec5{
   display: inline-block;
   line-height: 40px;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: #797575;

}
.isec5{
   font-size: 20px;
   color: rgb(48, 102, 150);
}
.sec5-img{
   width: 40%;
   float: left;
   margin-top:170px;
   margin-left: 10%;
   position: relative;
}
.imgs5{
   width: 500px;
   height: 300px;
}
.under-img{
   margin-top: 60px;
   position: absolute;
   margin-left: 220px;
}
.iu5{
   color: #797575;
}
.iu5:hover{
   color: black;
}
.under-img i {
   font-size: 13px;
}
/* /////////////////////////////////////////sec5///////////////////////////////////// */
.sec6-body{
   width: 100%;
   height: 350px;
   background-image: url(../images/R\ \(sec6\).jpeg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size:cover ;
   position: relative;
}
.overlay-sec6{
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.7);
}
.sec6-container{ 
    width: 80%;
    height: 100%;
    margin: auto;
    overflow: auto;
   /* background-color: #363636; */
  
}
.item-sec6{ 
   text-align: center;
   width: 25%;
   float: left;
   color: #fff;
   margin-top: 120px;
   /* background-color: #889b8e; */
   height: 100px;
}

.isec6{
   font-size: 32px;
   color: rgb(62, 143, 214);
   padding-bottom: 15px;

}
.h2sec6{ font-size: 30px;
   text-transform: capitalize;
   font-family:Arial, Helvetica, sans-serif;

}
.psec6{
   font-size: 16px;
   font-family:Arial, Helvetica, sans-serif;
}
/* ////////////////////////////////////////////////////sec6/////////////////////////// */

.sec7-title{
   width: 100%;
   height: 250px;
   position: relative;
   background-color: #F6EACB;
  
}
.hero-sec7{
   position: absolute;
   width: 50%;
   height: 200px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   
}
.h2-sec7{
   text-align: center;
   font-size: 36px;
   text-transform: capitalize;
   font-family:Arial, Helvetica, sans-serif;
   padding-top: 100px;
}
.underline-sec7{
   width: 65px;
   height: 4px;
   background-color: rgb(255, 0, 0);
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 53px;
}
.body-sec7{
   width: 100%;
   height: 450px;
   background-color: #F6EACB;
}
.sec7-container{
   width: 80%;
   height: 600px;
   margin: auto;
   overflow: auto;
  
}
.item1-sec7{
   text-align: center;
   border: 1px;
   border-color: #000000;
   border-style: solid;
   float: left;
   width: 30%;
   height: 350px;
   position: relative;
}

 .price-sec7{
   width: 105px;
   height: 105px;
   border-radius: 50%;
   border: 2px solid #86AB89;
   /* background-color: #fff; */
   margin: auto;
 }
 .h2i1-sec7{
   padding-top: 25px;
   padding-bottom: 20px;
 }
 .p1-sec7{
   font-size: 55px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   padding-top: 12px;
 }
 .p2-sec7{font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-weight: bold;
   text-transform: uppercase;
 }
 .p3-sec7{
   line-height: 30px;
 }
 .p-sec7{
   margin-top: 20px;
   text-transform: lowercase;
 }
 .p4-sec7{
   
 width: 130px;
   height: 26px;
   background-color: #ffffff;
margin: auto;
   border: 2px solid #86AB89;
   padding-top: 1px;
 }
 .last{
   padding-bottom: 10px;
 }
 .item1-sec7:after {
   position: absolute;
   content: "";
   height: 0;
   width: 100%;
   top: 0;
   right: 0;
   background-color:rgb(0, 0, 0);
   opacity: 0.5;
   transition: 0.7s;
 }
 .item1-sec7:hover::after {
   width: 100%;
   height: 100%;
   opacity: 0.5;
  }
  
   .item1-sec7:hover .price-sec7{
      color: red;
      transition: 2s;
   }
   .item1-sec7:hover .h2i1-sec7{
       color: rgb(171, 7, 7);
      transition: 0.5s;
   }
.mids7{
   margin: 0 5%;
}
/* //////////////////////////////////////////////////sec-7/////////////////////////////////// */
.sec8-body{
   width: 100%;
   height: 350px;
   background-image: url(../images/R\ \(8\).jpeg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size:cover ;
   position: relative;
}
.overlay-sec8{
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.7);
}
.sec8-container{
   width: 70%;
   height: 350px;
   margin: auto;
   overflow: auto;
  /* background-color: #b3b3b3; */
}
.item1-sec8{
   width: 43%;
   float: left;
   height: 250px;
   position: relative;
   margin-top: 50px;
   
}
.img-sec8{
   width: 70px;
   height: 70px;
   border-radius:50% ;
   background-image: url(../images/gamer-mascot-logo-gaming-badge_10051-451.avif);
   background-size: cover;
   background-position: center;
   position: absolute;
   margin-top: 76px;
   
}
 .h21sec8{
   color: #fff;
   font-size: 18px; word-spacing: 1px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding-bottom: 8px;
 }
 .h22sec8{
   color: rgb(0, 140, 255);
   font-size: 15px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .words-sec8{ margin-left: 90px;
   margin-top: 90px;
   margin-bottom: 30px;
 }
 .psec8{color:#fff;
font-size: 14px;
text-transform: capitalize;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
line-height: 22px;
margin-left: 7px;}
.imgs8{
   border-radius: 35px;
}
.l8{
   margin-left: 14%;
}
/* ////////////////////////////////////////////////////sec-8 ////////////////////////////////////*/
.sec9-title{
   width: 100%;
   height: 250px;
   position: relative;
   background-color: #F6EACB;
  
}
.hero-sec9{
   position: absolute;
   width: 50%;
   height: 200px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   
}
.h2-sec9{
   text-align: center;
   font-size: 36px;
   text-transform: capitalize;
   font-family:Arial, Helvetica, sans-serif;
   padding-top: 100px;
}
.underline-sec9{
   width: 65px;
   height: 4px;
   background-color: rgb(255, 0, 0);
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 53px;
}
.sec9-container {
   width: 70%;
   margin: auto;
   overflow: auto;
}


.item1-sec9 {
   float: left;
   position: relative;
   width: 30%;
   background-color: #e4d198;
   text-align: center;
   padding: 18px 14px ;
}
.tt {
   margin: 0px  5%;
}

.sec9-img {
   width: 85%;
   margin: auto;
   position: relative;
}

.sec9-img   img {
    width: 100%;
}

.sec9-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7) ;

   visibility: hidden;
}

.item1-sec9:hover   .sec9-overlay  {
   visibility: visible;
}

.sec9-overlay  a {
   display: block;
   width: 40px;
   height: 40px;
   background-color: rgb(0, 110, 255);
   color: #fff;
   margin-left: auto ;
}
.sec9-overlay  a  i {
   line-height: 40px;
}
.sec9-info-title {
   color: #222;
   padding: 11px  0px ;
   text-transform: capitalize;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec9-info-p {
  color: grey;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item1-sec9:hover  .sec9-info-title {
   transition: 1s;
  color: #fff;
}
.item1-sec9:hover  .sec9-info-p  {
   color: blue;
}
.item1-sec9:after {
   position: absolute;
   content: "";
   height: 0;
   width: 100%;
   top: 0;
   right: 0;
   background-color:rgb(0, 0, 0);
   opacity: 0;
  
 }
 .item1-sec9:hover::after {
   width: 100%;
   height: 100%;
   opacity: 0.3;
   transition: 1s;
  }
  .sec9-body{
   background-color: #F6EACB;
   height: 350px;
  }

  /* ///////////////////////////////////////////////sec-9////////////////////////////////// */

  .sec10-title{
   background-color: #F6EACB;
   width: 100%;
   height: 180px;
   position: relative;
   
}
.hero-sec10{
   position: absolute;
   width: 50%;
   height: 200px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   
}
.h2-sec10{
   text-align: center;
   font-size: 36px;
   text-transform: capitalize;
   font-family:Arial, Helvetica, sans-serif;
   padding-top: 100px;
}
.underline-sec10{
   width: 65px;
   height: 4px;
   background-color: rgb(255, 0, 0);
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 53px;}

    .sec10-body{
      width:100%;
      height: 560px;
      background-color: #F6EACB;
      
    }
    .isec10{
      display: inline;
    }
    .psec10{display: inline;
   }
   .sec10-container{
      width: 85%;
      height: 100%;
      margin: auto;
      overflow: auto;
      background-color: #DAD4B5;
   }
   .item1-sec10{
      width: 31%;
      height: 560px;
      background-color: #F6EACB;
      float: left;
      position: relative;
   }
   .img-sec10{
      margin-left: 30px;
   }
   .sec10-i{
      margin-left: 30px;
   }
   .isec10{
      color: rgb(0, 119, 255);
      font-size: 11px;
      display: inline;
   }
   .p1sec10{
      text-transform: capitalize; display: inline;
      font-size: 12px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .sec10-i{
      margin-top: 25px;
      margin-bottom: 20px;
   }
   .h2-words-sec10{
      font-size: 17px;
      margin-left: 30px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .p2sec10{
      margin-left: 30px;
      margin-top: 30px;
      margin-bottom: 25px;
      line-height: 30px;
      font-size: 16px;
      color: #797575;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .asec10{
      text-decoration: none;
      color: #0671c9;
      text-transform: capitalize;
      margin-left: 30px;
      font-size: 18px;
   }
   .ms10{
      margin: 0 3.5%;
   }
   .item1-sec10:after {
      position: absolute;
      content: "";
      height: 0;
      width: 100%;
      top: 0;
      right: 0;
      background-color:rgba(3, 110, 197, 0.831);
      opacity: 0;
      transition: 0.9s;
    }
    .item1-sec10:hover::after {
      width: 100%;
      height: 100%;
      opacity: 0.4;
     }
/* ////////////////////////////sec-10/////////////////////////////// */

.footer-body{
   width: 100%;
   height: 330px;
   background: #363636;
   text-align: center;
   
}
.img-footer{
   margin-top: 50px;
   margin-bottom: 20px;
}
.ifooter{
   color: #fff;
   padding-top: 15px;
   font-size: 23px;
   background-color: #1f8be4;
   height: 55px;
   width: 55px;
   border-radius: 50%;
}
.ifooter:hover{
   background-color: #0a47a3;
   cursor: pointer;
   transition: 0.7s;
}
.pfooter{
   margin-top: 24px;
   text-transform:uppercase;
   color:#9d9d9d;
   font-size: 14px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}